<div class="container">
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8">
			<h1>TruckLoungeへようこそ</h1>

			<h2>こちらのサイトでは、大型車が止められる</h2>
			<h2>休憩所の情報を皆様で共有して頂くサイトになります。</h2>
			<h2>下のリンクからログイン、新規登録をよろしくお願いします。</h2>

			<h2><%= link_to "ログイン", new_guest_session_path %>/<%= link_to "新規登録",new_guest_registration_path %></h2>
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>