<div class = "top-image" >
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
			</div>
			<div class="text-top">
			<div class="col-lg-8">
				<h1 class="top-1">TruckLoungeへようこそ</h1>
				<h3 class="top">こちらのサイトでは、大型車が止められる</h3>
				<h3 class="top">休憩所の情報を皆様で共有して頂くサイトになります。</h3>
				<h3 class="top">下のリンクからログイン、新規登録をよろしくお願いします。</h3>

				<h3 class="top"><%= link_to "ログイン", new_guest_session_path,class:"btn btn-info btn-lg" %>/<%= link_to "新規登録",new_guest_registration_path,class:"btn btn-info btn-lg" %></h3>
			</div>
		</div>
			<div class="col-lg-2">
				<%= link_to "管理者の方はこちら", new_admin_session_path %>
			</div>
		</div>
	</div>
</div>