 <script src="jquery.min.js"></script>
    <script src="app.js"></script>
    
<h1>レビュー新規投稿</h1>

<p class= "p"></p>
<%= form_for @review, url:guest_reviews_path do |f| %>
 <%= f.attachment_field :review_image %>
 <%= f.text_area :explanation %>
 <%= f.submit '投稿' %>
<% end %>