/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 *{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:18px;
}

header{
	background-color: blue;
	margin: 0;
	height: 60px;
}

footer{
	color: white;
	text-align: center;
	background-color: blue;
	height: 100px;

}
footer p{
	border: 0 auto;
	line-height:100px;
	margin: 0;
}
.navar-fixed-top{
	margin: 0;
}

.text-top{
	text-align: center;
}
.navbar-right{
	margin-right: 0 ;
}

main {
background-image: url(kousoku.yakei.jpg);
height: 100%;
}
table{
	background-color: white;
	color:black;
}
caption{
	color: white;
}
h1{
	color: white;
	margin: 0 auto;
}
h3{
	color: white;
}
h4{
	color: white;
}
a{
	color:white;
}

th{
	text-align: center !important;
}

i{
	font-size:50px
}

.top-1{
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
}
.top-text{
	font-size:50px;
	height: 50px;
}
.ha-title{
	font-family: 'Great Vibes', cursive;
}

.td-lounge{
	width: 10%;
}

.like{
	margin-right: 0 auto;
}
.pagenate{
	text-align: center !important;
}
.devise{
	color:white;
}
.rev-table{
	text-align: center;
}
