<table>
	<caption>ジャンル編集画面</caption>
	<thead>
		<tr>
			<th>ジャンル名</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= form_for @ganre, url: admin_ganre_path(@ganre.id) do |f| %>
			<td>
    		<%= f.text_field :category %>
    		</td>
			<% end %>
		</tr>
	</tbody>
</table>